{% extends 'kaikei/base.html' %}

{% block content %}
    <div class="pt-5 container">
        <div class="row">
            <div class="col offset-3">
                <h4><span class="mark">{{ customer.name }}さん</span></h4>
            </div>
        </div>
    </div>
    <div class="pt-5 container">
        <form action="" method="POST">
            <div class="">
                <table align="center">
                    {{ form.as_table }}
                </table>
                {% csrf_token %}
                <div class="text-center">
                    <button class="btn btn-outline-primary w-25 mt-5" type="submit">会計画面へ</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}